@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Black.ttf") format("ttf"),
    url("./Poppins-Bold.ttf") format("ttf"),
    url("./Poppins-ExtraBold.ttf") format("ttf"),
    url("./Poppins-ExtraLight.ttf") format("ttf"),
    url("./Poppins-Light.ttf") format("ttf"),
    url("./Poppins-Medium.ttf") format("ttf"),
    url("./Poppins-Regular.ttf") format("ttf"),
    url("./Poppins-SemiBold.ttf") format("ttf"),
    url("./Poppins-Thin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}
